In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
## Loading The Data

In [3]:
df = pd.read_csv('Downloads/archive (7)/comments.csv')

In [4]:
df.head()

,Unnamed: 0,Video ID,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95.0,1.0
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don’t even have co...,19.0,0.0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0,2.0
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn’t take App...,8.0,0.0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34.0,2.0

In [5]:
df.tail()

,Unnamed: 0,Video ID,Comment,Likes,Sentiment
18404,18404,cyLWtMSry58,I really like the point about engineering tool...,0.0,2.0
18405,18405,cyLWtMSry58,I’ve just started exploring this field. And th...,20.0,2.0
18406,18406,cyLWtMSry58,Excelente video con una pregunta filosófica pr...,1.0,1.0
18407,18407,cyLWtMSry58,"Hey Daniel, just discovered your channel a cou...",35.0,2.0
18408,18408,cyLWtMSry58,This is great. Focus is key. A playful approac...,0.0,2.0

In [6]:
df.shape

(18409, 5)

In [7]:
## Data Cleaning and EDA

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18409 entries, 0 to 18408
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  18409 non-null  int64
 1   Video ID    18409 non-null  object
 2   Comment     18408 non-null  object
 3   Likes       18409 non-null  float64
 4   Sentiment   18409 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 719.2+ KB

In [9]:
df.columns

Index(['Unnamed: 0', 'Video ID', 'Comment', 'Likes', 'Sentiment'], dtype='object')

In [10]:
df.drop(['Unnamed: 0', 'Video ID', 'Likes'], axis=1, inplace=True)

In [11]:
df.isnull().sum()

Comment      1
Sentiment    0
dtype: int64

In [12]:
df.dropna(subset='Comment', inplace=True)

In [13]:
df.duplicated().sum()

414

In [14]:
df.drop_duplicates(keep='first', inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17994 entries, 0 to 18408
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Comment    17994 non-null  object
 1   Sentiment  17994 non-null  float64
dtypes: float64(1), object(1)
memory usage: 421.7+ KB

In [16]:
df['Sentiment'].value_counts()

Sentiment
2.0    11141
1.0     4532
0.0     2321
Name: count, dtype: int64